@import './variables';
@import './reset';
@import './utilities';
@import './breakpoints';
//funtion to convert pixels to rem

body {
    min-height: 100vh;
    font-family: $Font-Family;
    @include FlexCentre;
    background-color: $Light-grayish-cyan;
    .main-container {
        background-color: $Light-grayish-cyan;
        min-width: 80%;
        @include FlexCentre;
        gap: 3rem;
        flex-direction: column;
        padding: 1rem;

        .logo-container {
            font-weight: $Font-Weights;
            color: $Dark-grayish-cyan;
            letter-spacing: 1rem;
        }

        .calculator-container {
            width: 90%;
            padding: 1rem;
            background-color: $White;
            border-radius: 10px;
            @include FlexCentre;
            justify-content: space-between;
            gap: 1rem;

            .input-section {
                width: 100%;
                @include FlexCentre;
                flex-direction: column;
                gap: 1rem;
                align-items: flex-start;

                .bill-input {
                    width: 100%;
                    @include FlexCentre;
                    justify-content: flex-start;

                    label {
                        position: relative;
                        width: 100%;

                        .dollar-icon {
                            position: relative;
                            top: -1.5rem;
                            left: 1rem;
                        }

                        margin-bottom: -1rem;
                    }


                    input {
                        padding: 1rem;
                        height: 2rem;
                        border-radius: 10px;
                        width: 100%;
                        font-weight: $Font-Weights;
                        text-align: end;
                        border: none;
                        color: $Very-dark-cyan;
                        font-family: $Font-Family;
                        background-color: $Very-light-grayish-cyan;
                    }

                    input[type="number"]::-webkit-inner-spin-button,
                    input[type="number"]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                .tip-input {
                    width: 100%;

                    .radio-section {

                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 0.5rem;
                        font-weight: $Font-Weights;                        

                        label {
                            border-radius: 10px;
                            padding: 0.5rem;
                            background-color: $Very-dark-cyan;
                            color: $Light-grayish-cyan;
                            text-align: center;
                            cursor: pointer;
                        }

                        label:hover,
                        input[type='radio']:checked + label
                            {
                            background-color: $Strong-cyan;
                            color: $Very-dark-cyan;
                        }

            


                        .custom {
                            color: $Very-dark-cyan;
                            background-color: $Very-light-grayish-cyan;

                            input[type="number"]::-webkit-inner-spin-button,
                            input[type="number"]::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            input {
                                background-color: $Very-light-grayish-cyan;
                                font-family: $Font-Family;
                                color: $Very-dark-cyan;
                                font-weight: $Font-Weights;
                                padding: 0rem 0.5rem 0rem 0.5rem;
                                text-align: right;
                                height: 100%;
                                width: 100%;
                                display: none;
                                border: none;
                                border-radius: 6px;
                            }
                        }

                        .custom:hover {
                            background-color: $Very-light-grayish-cyan;

                            input {
                                display: block;
                            }

                            .custom-label {
                                display: none;
                            }
                        }

                    }
                }

                .number-of-ppl-input {
                    width: 100%;
                    @include FlexCentre;
                    flex-direction: column;
                    align-items: flex-start;

                    .text-container {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .error-ppl-input {
                            display: none;
                            color: red;
                        }
                    }

                    .ppl-icon {
                        position: relative;
                        top: -1.5rem;
                        left: 1rem;
                    }

                    label {
                        color: $Very-dark-cyan;
                    }

                    input {
                        color: $Very-dark-cyan;
                        font-family: $Font-Family;
                        font-weight: $Font-Weights;
                        text-align: end;
                        padding: 1rem;
                        height: 2rem;
                        width: 100%;
                        border: none;
                        border-radius: 10px;
                        background-color: $Very-light-grayish-cyan;
                    }

                    input[type="number"]::-webkit-inner-spin-button,
                    input[type="number"]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

            }

            .result-section {
                width: 100%;
                background-color: $Very-dark-cyan;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1rem;
                padding: 1rem;

                .tip-amount-result {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .left-section-tip {
                        color: $Light-grayish-cyan;
                    }

                    .right-section-tip {
                        color: $Strong-cyan;
                        font-size: 2rem;
                    }
                }

                .total-amount-result {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .left-section-total {
                        color: $Light-grayish-cyan;
                    }

                    .right-section-total {
                        font-size: 2rem;
                        color: $Strong-cyan;
                    }
                }

                button {
                    justify-content: center;
                    font-family: $Font-Family;
                    font-size: 1.2rem;
                    font-weight: $Font-Weights;
                    color: $Very-dark-cyan;
                    background-color: $Strong-cyan;
                    margin-top: 3rem;
                    padding: 1rem;
                    width: 100%;
                    border-radius: 10px;
                    border: none;
                }

                button:hover {
                    cursor: pointer;
                }
            }
               
        }
    }
}

@include media('small')
{
    body
    {
        min-height: 100vh;
        .main-container
        {
            padding: none;
            width: 100%;
            .calculator-container
            {
                padding: none;
                width: 100%;
                display: flex;
                flex-direction: column;
                .text-container
                {
                    flex-direction: column;
                }
                .result-section
                {
                    .total-amount-result
                    {
                        .left-section-total
                        {
                            font-size: 1rem;
                        }
                    }
                    .tip-amount-result
                    {
                        .left-section-tip
                        {
                            font-size: 1rem;
                        }
                    }
                }   
            }
        }
           
    }
}

@include media('medium')
{
    body
    {
        .main-container
        {
            width: 100%;
            height: auto;
            .calculator-container
            {
                width: 100%;
                padding: 2rem;
                .input-section
                {
                    .bill-input
                    {
                        font-size:2rem;
                        .dollar-icon svg
                        {
                            height: 100%;
                            position: relative;
                            top: -1.6rem;
                        }
                        input
                        {
                            font-size: 2rem;
                            height: 3rem;
                        }
                    }
                    .tip-input
                    {
                        p
                        {
                            font-size: 1.5rem;
                        }
                        .radio-section
                        {
                            gap: 1rem;
                            label
                            {
                                font-size: 1.5rem;
                            }
                        }
                        .custom-label
                        {
                            font-size: 1.5rem;
                        }
                        .custom-input
                        {
                            font-size: 1.2rem;
                        }
                    }
                    .number-of-ppl-input
                    {
                        .text-container
                        {
                            flex-direction: column;
                        }
                        font-size: 1.5rem;
                        input
                        {
                            font-size: 2rem;
                            height: 3rem;
                        }
                        .ppl-icon svg
                        {
                            position: relative;
                            top: -1.2rem;
                        }
                    }
                }
                .result-section
                {
                    height: 100%;
                    padding: 2rem;
                    .tip-amount-result
                    {
                        display: flex;
                        flex-direction: column;
                        .left-section-tip
                        {
                            font-size: 1rem;
                        }
                    }
                    .total-amount-result
                    {
                        display: flex;
                        flex-direction: column;
                        .left-section-total
                        {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    
}

@include media('large')
{
    body
    {
        .main-container
        {
            width: 90%;
            .calculator-container
            {
                padding: 1rem 2rem 1rem 2rem;
                font-size: 1.5rem;
                .input-section
                {
                    padding: 2rem 0rem 2rem 0rem;
                    .bill-input
                    {
                        input
                        {
                            color: $Very-dark-cyan;
                            font-size: 1.5rem;
                            height: 3rem;
                        }   
                        .dollar-icon
                        {
                            svg
                            {
                                position: relative;
                                top: -1.2rem;
                            }
                        }
                    }
                    .custom
                    {
                        input
                        {
                            font-size: 1.5rem;
                        }
                    }
                    .number-of-ppl-input
                    {
                        input
                        {
                            color: $Very-dark-cyan;
                            font-size: 1.5rem;
                            height: 3rem;
                        }
                        .ppl-icon
                        {
                            svg
                            {
                                position: relative;
                                top: -1.2rem;
                            }
                        }
                    }
                }
                
            }
        }
    }   
}